.menu-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    visibility: hidden;
    
    opacity: 0;
    background-color: rgba(0,0,0,0.45);
    z-index: 10;

    transition-property: opacity, visibility;
    transition-duration: .5s;
}

.menu-list-wrapper.active .menu-mask {
    visibility: visible;
    opacity: 1;
}

.menu-list {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 75%;

    transform: translateX(-100%);

    background-color: #fff;
    padding: 30px 20px 30px;

    z-index: 1000;
    transition: transform .5s ease;
}

.menu-list-wrapper.active .menu-list {
    transform: translateX(0);
}
